<%= form_for(@addon) do |f| %>
  <% if @addon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addon.errors.count, "error") %> prohibited this addon from being saved:</h2>

      <ul>
      <% @addon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :extension_name %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
       <%= f.label :url %>
       <%= f.text_field :url, class: "form-control", :autofocus => true %>
     </div>

  <div class="form-group">
       <%= f.label :description %>
       <%= f.text_field :explanation, class: "form-control", :autofocus => true %>
     </div>  

  <div class="form-group">
       <%= f.label :category %>
       <%= f.text_field :category, class: "form-control", :autofocus => true %>
     </div>   

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
