<%= render 'pages/home' unless user_signed_in? %>

<h1 class="center">The Extensions Rankings</h1>

<div id="addons" class="transitions-enabled">
  <% @addons.each do |addon| %>
  <div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= addon.description %>
        <%= link_to 'Show', addon_path(addon) %>
        <% if addon.user == current_user %>
          <%= link_to 'Edit', edit_addon_path(addon) %>
          <%= link_to 'Destroy', addon, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
    <%= link_to 'New Addon', new_addon_path %>
<% end %>    
