<%= render 'pages/home' unless user_signed_in? %>

<h1 class="center">The Rankings - The Best Extensions</h1>

<div id="addons" class="transitions-enabled">
  <% @addons.each do |addon| %>
  <div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><strong><%= addon.description %></strong> | <%= addon.category %> | <a href="http://<%= addon.url %>"><%= addon.url %></a></h4>
      </br>
        <h4><%= addon.explanation %></h4>
      </br>  
        <% if addon.user == current_user %>
          <%= link_to 'Edit', edit_addon_path(addon) %>
          <%= link_to 'Destroy', addon, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
    <%= link_to "New Addon", new_addon_path, class: " center btn btn-primary btn-lg" %>
  </br>
  </br>
<% end %>    
