<p id="notice"><%= notice %></p>

<%= link_to 'Back', addons_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= @addon.description %></p>
        <p><strong><%= @addon.user.email if @addon.user %></strong></p>

        <% if @addon.user == current_user %>
         <%= link_to 'Edit', edit_addon_path(@addon) %>
        <% end %>

      </div>
    </div>
  </div>
</div>